torch
transformers
datasets
notebook
numpy
scipy
spacy
neptune-client
wandb

gdown
transformers[sentencepiece]
transformers[ja]
datasets
evaluate
sacrebleu
scikit-learn
nltk
stopwordsiso
evaluate
sacrebleu
sentencepiece
gpustat
sacremoses
bert_score
